.name {
  display: flex;
}

.container {
  display: flex;
  align-items: center;
  position: relative;
}

.Discussions {
  width: 480px;
  box-shadow: 8px 8px 5px #f4a1f9;
  border-radius: 5px;
  margin: 25px;
  height: 100%;
}

.upvote {
  position: absolute;
  bottom: -10px;
  left: 15px;
  border-radius: 50px;
  width: 15px;
  height: 15px;
  font-size: 10px;
  display: flex;
  justify-content: center;
  background-color: #45d25a;
}

.title {
  font-weight: bold;
  display: block;
  font-size: 12px;
  font-family: monospace;
  margin: 0;
  text-align: center;
  padding: 5px;
  background-color: #dedede;
  margin: 0 auto;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.content {
  background-color: #151515;
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}