.r1f6hto0{width:430px;box-shadow:8px 8px 5px #a1f9c8;border-radius:5px;margin:25px;height:100%;}
.tb91d3d{font-weight:bold;display:block;font-size:12px;font-family:monospace;margin:0;text-align:center;padding:5px;background-color:#dedede;margin:0 auto;border-top-right-radius:5px;border-top-left-radius:5px;}
.c1g16gc0{background-color:#151515;padding:20px;border-bottom-left-radius:5px;border-bottom-right-radius:5px;}
.c281wt0{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
